.navbar {
    position: sticky;
   
    padding: 1.3rem 1.5rem;
    top:0;
    left:0;

    background-color: var(--theme);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:1000;
  }

  .logo{
    color:var(--white);
    font-weight: 600;
    font-size:18px;
    margin:0;
  }
  .link{
    opacity: 0.8;
    cursor:pointer;
  }
  .link:hover{
    opacity:1;
    transition: all 0.3s;
  }